name: Build BacBo Analyzer

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Baixar repositório
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Compilar EXE
        run: |
          pyinstaller --noconsole --onefile --icon=logo.ico main.py

      - name: Upload do EXE
        uses: actions/upload-artifact@v3
        with:
          name: BacBoAnalyzer
          path: dist/*.exe
